html {
	font-size: 16px; 
}

@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex; 
	justify-content: center; 
	align-items: center; 
	font-size: 1em; 
}


.container {
	display:flex;
	justify-content: center; 
	align-items: center; 
	flex-flow: row wrap; 
	max-width: 1200px; /******max-width for desktop*****/
	width: 90%; /* to keep white border around site*/ 
}

.flex-item {
	display:flex; 
	flex-direction: column; 
	justify-content: center; 
}


h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700; 
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
	color: #77a466;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}

/*****HEADER ******/ 

header {
	margin: 0; 
	display:flex; 
	justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	text-align: center; 
	width: 100%; 
}

header h1 {
	margin: 0; 
	padding: 38px 20px 20px 20px; 
	border-bottom: 3px solid #77a466; 
	width: 100%; 
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0 10px 0;
	width: 100%; 
}
header nav ul {
	margin: 0; /* ok*/ 
	padding: 0;	
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 10px; 
	list-style-type: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}
/************ MAIN *********/ 

.top-section, 
.bottom-section {
	display: flex; 
	align-items: center;
	justify-content: center;
	flex-flow: row wrap; 
} 

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.section-one,
.section-two,
.section-three {
    border-top: 1px solid #eee;
    width: 100%;
}

.menu {
	list-style: none;
	padding: 0; 
	color: #77a466;
}

/*********FOOTER **********/ 

footer {
	border-top: 1.5px solid #eee;
	margin: 0; 
	width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	text-align: center; 
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/**********MEDIA QUERIES *********/

/*******TABLET SIZE *******/

@media all and (min-width: 768px){

	.bottom-section {
		display: flex; 
		align-items: flex-start; 	
		justify-content: space-between; 
		border-top: 1.5px solid #eee;	
		
	}

	.section-one, 
	.section-two, 
	.section-three {
		flex-basis: 30%; 
		border-top: none; 
		
	}
	.section-two {
		border-left: 1.5px solid #eee;
		border-right: 1.5px solid #eee;
		padding: 0 15px; 
	}
}


/***********DESKTOP SIZE *******/

@media only screen and (min-width: 1200px) {

	header {
		justify-content: space-between; 
	}

	header h1 {
		width: 30%; 
		padding: 0; 
		text-align: left; 
		border-bottom: none; 
	}

	header nav {
		width: 40%; 
	}
	header nav ul {
		display: flex; 
		justify-content: space-between;
	}


}