@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px; 
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex; 
	justify-content: center; 
	align-items: center; 
	font-size: 1em; 
}


.flex-container {
	display:flex;
	flex-direction: column; 
	justify-content: center; 
	max-width: 100%; /* <------------------   set max-width for a mobile device here*/
}

.flex-item {
	display:flex; 
	flex-direction: column; 
	justify-content: center; 
}


h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700; 
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
	color: #77a466;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}

/*****HEADER ******/ 

header {
	margin: 0 15px; 
	display:flex; 
}

.headline {
	border-bottom: 3px solid #77a466;
	display: flex; 
	justify-content: center;
}

header h1 {
	margin: 0; 
	padding: 38px 0 5px 0;
}


header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0 10px 0;
}
header nav ul {
	margin: 0;
	padding: 0;	
	display:flex; 
	flex-direction: column; 
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 10px; 
	display:flex;
	flex-direction: column; 
	align-items: center; 
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}
/************ MAIN *********/ 
main {
	margin: 0 15px; 
}

.main-image {
	display: flex; 
	align-items: center;
	justify-content: center;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

.intro {
	border-bottom: 1.5px solid #eee;
}

.menu {
	list-style: none;
	padding: 0; 
	color: #77a466;
	border-bottom: 1.5px solid #eee;
}

.menu li {
	padding-bottom: 10px; 
}

.reviews {
	border-bottom: 1.5px solid #eee;
}

/*********FOOTER **********/ 

footer {
	border-top: 1.5px solid #eee;
	margin: 0 15px; 
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/**********MEDIA QUERIES *********/

/*******TABLET SIZE *******/

@media all and (min-width: 768px){

}


/***********DESKTOP SIZE *******/

@media all and (min-size: 1200px) {

}